body.no-sidebar .sidebar,
    body.no-sidebar .sidebar-toggle {
        display: none !important;
    }

    body.no-sidebar .content {
        left: 0px !important;
    }

    table.no-sidebar {
        left: 0px !important;
    }

    .tag {
      display: inline-block;
      padding: .4em .5em;
      margin: 2px 2px 2px 10px;
      font-size: 15px;
      line-height: 1;
      text-decoration: none;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
    }

    table{
            width: 65%;
            table-layout: fixed;
            position: fixed;
            top: 0;
            padding-top: 10px;
            z-index: 1;
            position:absolute;
            top:0; left: 300px;
            background-color: transparent;
        }
    td, tr{
        width: 100%;
        border: none;
    }
    input{
        width: 100%;
        height: 40px;
        border: 3px solid #ffffff;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
        position: absolute;
        -webkit-appearance: none;
        padding:7px 5px;
        box-sizing: border-box;
    }
    #autocomplete{
        color: #c8c8c8;
        background-color: #c8c8c8;
    }

    #suggestions.no-sidebar{
      left: 0px !important;
    }

    #suggestions{
        position:absolute;
        top:50px; 
        left: 300px; 
        background-color: #c8c8c8;
    }
    #suggestions a{
        padding: 10px 0;
        margin: 0 8px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float:left; 
        clear:left;
        font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
        color: #ea6f5a;
        font-weight: 600;
    }

    #switch.no-sidebar{
        left: 600px !important;
        display: none;
    }

    #switch{
        position:absolute;
        top:10px; 
        left: 1350px; 
        padding:7px 5px; 
        border: 3px solid #ffffff;
        background-color: #c8c8c8;
        border-radius: 5px;
        height: 40px;
    }